In [1]:
import numpy as np
import pandas as pd

In [31]:
coordinates = pd.read_csv('cell_coordinates_clusters.csv', index_col = 0)
coordinates

,Area,X,Y,Z,Clusters,Cells
0,66,1017.348485,468.636364,63.636364,8,Unknown
1,30,969.366667,441.633333,64.000000,8,Unknown
2,66,925.363636,528.500000,63.636364,1,Unknown
3,139,915.071942,566.043165,63.366906,1,Unknown
4,39,912.128205,529.871795,64.000000,8,Unknown
...,...,...,...,...,...,...
23915,40,368.750000,753.500000,0.000000,0,Some T cells (CD3)
23916,163,367.478528,450.975460,1.558282,4,Potentially fibroblasts (fibronectin)
23917,46,367.913043,572.000000,0.000000,3,Unknown
23918,161,366.049689,538.677019,1.540373,6,"Breast cancer cells (PanCK, GATA3)"
23919,127,361.858268,459.834646,0.472441,4,Potentially fibroblasts (fibronectin)

### Selection the Cell Type

In [41]:
cell_type = 6

In [42]:
cell_type_coordinates = coordinates[coordinates['Clusters'] == cell_type] # Breast cancer cells (1796)
cell_type_coordinates

,Area,X,Y,Z,Clusters,Cells
440,53,542.924528,518.207547,64.000000,6,"Breast cancer cells (PanCK, GATA3)"
473,54,528.777778,628.222222,64.000000,6,"Breast cancer cells (PanCK, GATA3)"
545,135,496.222222,581.251852,63.451852,6,"Breast cancer cells (PanCK, GATA3)"
551,40,493.075000,571.925000,64.000000,6,"Breast cancer cells (PanCK, GATA3)"
552,37,493.135135,543.297297,64.000000,6,"Breast cancer cells (PanCK, GATA3)"
...,...,...,...,...,...,...
23909,82,379.914634,474.378049,0.268293,6,"Breast cancer cells (PanCK, GATA3)"
23911,42,377.666667,529.000000,0.000000,6,"Breast cancer cells (PanCK, GATA3)"
23913,79,371.265823,516.468354,0.430380,6,"Breast cancer cells (PanCK, GATA3)"
23914,56,370.875000,473.696429,0.000000,6,"Breast cancer cells (PanCK, GATA3)"
23918,161,366.049689,538.677019,1.540373,6,"Breast cancer cells (PanCK, GATA3)"

### Centering the data

In [43]:
coordinates_centered = cell_type_coordinates.iloc[:,1:4] - cell_type_coordinates.iloc[:,1:4].mean()
coordinates_centered["cluster"] = cell_type_coordinates["Clusters"]
coordinates_centered["cell"] = cell_type_coordinates["Cells"]
coordinates_centered

,X,Y,Z,cluster,cell
440,82.533746,-19.710982,36.917512,6,"Breast cancer cells (PanCK, GATA3)"
473,68.386995,90.303693,36.917512,6,"Breast cancer cells (PanCK, GATA3)"
545,35.831440,43.333323,36.369364,6,"Breast cancer cells (PanCK, GATA3)"
551,32.684217,34.006471,36.917512,6,"Breast cancer cells (PanCK, GATA3)"
552,32.744353,5.378769,36.917512,6,"Breast cancer cells (PanCK, GATA3)"
...,...,...,...,...,...
23909,-80.476148,-63.540480,-26.814195,6,"Breast cancer cells (PanCK, GATA3)"
23911,-82.724116,-8.918529,-27.082488,6,"Breast cancer cells (PanCK, GATA3)"
23913,-89.124960,-21.450174,-26.652108,6,"Breast cancer cells (PanCK, GATA3)"
23914,-89.515783,-64.222100,-27.082488,6,"Breast cancer cells (PanCK, GATA3)"
23918,-94.341093,0.758490,-25.542115,6,"Breast cancer cells (PanCK, GATA3)"

In [44]:
coordinates_centered.iloc[:, 0:3].mean()

X   -2.532001e-14
Y   -7.083272e-14
Z    1.012800e-15
dtype: float64